@media (max-width: 1240px){
    .sct-items, .container02 .sct-items{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.75rem;
    }

    .container02 #novidadeBurger{
        grid-column: 1/4;
    }
}

@media (max-width: 930px){
    #modal-shoplist #shoplist-items .sl-div-item{
        grid-template-columns: 5fr 1fr 2fr;
    }
}

@media (max-width: 870px){
    .main-dev{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding-top: 5rem;
        gap: 3rem;
    }

    .main-dev > section{
        width: fit-content;
        max-width: 35rem;
        align-items: center;
    }
    
    .main-dev .mainDev-secTxt{
        padding: 1rem;
    }
    
    .main-dev .mainDev-secTxt h1{
        font-size: 3rem;
    }

    .main-dev .mainDev-secTxt p, .main-dev .mainDev-secTxt nav{
        width: 100%;
    }
}

@media (max-width: 816px){
    #modal-shoplist{
        width: 75vw;
    }
}

@media (max-width: 790px){
    header{
        flex-direction: row-reverse;
    }

    header > div{
        width: fit-content;
    }

    #hd-lks-ext{
        display: none;
    }
}

@media (max-width: 720px){
    .sct-items, .container02 .sct-items{
        grid-template-columns: 1fr 1fr;
        gap: 3.75rem;
    }

    .container02 #novidadeBurger{
        width: 82%;
        grid-column: 1/3;
        height: 42.5rem;
    }
}

@media (max-width: 660px){
    .container01 section div{
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
}

@media (max-width: 570px){
    header{
        justify-content: space-between;
    }

    #hd-lks-int{
        display: none;
    }

    .hd-lks-ext2{
        display: block;
    }
}

@media (max-width: 510px){
    #modal-shoplist #shoplist-items .sl-div-item{
        grid-template-columns: 1fr 1fr;
    }

    #modal-shoplist #shoplist-items .sl-div-item .sp-pdd{
        grid-column: 1/3;
        text-align: center;
        margin-bottom: .188rem;
    }
}

@media (max-width: 460px){
    .sct-items, .container02 .sct-items{
        grid-template-columns: 1fr;
        gap: 3.75rem;
    }

    .container02 #novidadeBurger{
        height: 22.813rem;
        grid-column: 1/2;
        width: 11.25rem;
        padding: .625rem;
    }

    .container02 #novidadeBurger h1{
        color: var(--cor-02);
        font-size: 1.875rem;
        letter-spacing: .125rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: .063rem solid var(--cor-02);
    }

    .container02 #novidadeBurger h2{
        font-size: 1.8rem;
    }

    .container02 #novidadeBurger .novidImg{
        display: none;
    }


    .container02 #novidadeBurger .cover00{
        display: block;
    }
    
    .container02 #novidadeBurger:hover .div-item-cover{
        bottom: -68%;
    }




}

@media (max-width: 420px){
    .container00 h1{
        font-size: 2.3rem;
    }

    .container01 iframe{
        width: 97%;
    }

    .title-cardapio{
        font-size: 2rem;
    }

    #modal-shoplist h1{
        font-size: 1.8rem;
    }
}
