/*====================================================
IMPORTAÇÃO
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/*====================================================
GERAL
====================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    outline: none;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #252525, #131313, #1a1a1a, #131313) no-repeat;
}

:root{
    --cor-01: #010506;
    --cor-02: #f28705;
    --cor-03: #af301a;
}


/*====================================================
PADRÕES
====================================================*/

.wd-100{
    width: 100%;
}

.dp-flex{
    display: flex;
}

.dp-none{
    display: none;
}

.over-hide{
    overflow: hidden;
}

.bdr-rad10{
    border-radius: .625rem;
}

.bdr-rad30{
    border-radius: 1.875rem;
}

.bdr-sld-var2{
    border: .063rem solid var(--cor-02);
}


/* ---------------- HEADER */
header{
    align-items: center;
    justify-content: space-between;
    padding: .44rem 1.25rem;
    height: fit-content;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

header div{
    align-items: center;
    width: 17.625rem;
    justify-content: center;
    gap: .625rem;
}

/* ---------------- HEADER LINKS INTERNOS */
header div#hd-lks-int{
    gap: .5rem;
}

header div#hd-lks-int a{
    padding: .188rem;
    border-bottom: .063rem solid transparent;
    opacity: 70%;
    transition: opacity .5s, border-bottom .5s;
}

header div#hd-lks-int a:hover{
    border-bottom: .063rem solid white;
    opacity: 100%;
}

/* ---------------- HEADER LOGO EMPRESA */
header img#logoImgOfc{
    width: 3.438rem;
}

header img#logoTxtOfc{
    width: 8.75rem;
}

/* ---------------- HEADER LINK EXTERNO */
header div#hd-lks-ext{
    justify-content: right;
}

header img#logoImgIfood{
    width: 2.938rem;
    opacity: 70%;
    transition: opacity .3s;
}

header img#logoImgIfood:hover{
    opacity: 100%;
}

/* ---------------- HEADER BOTÃO BURGER */
.hd-lks-ext2{
    display: none;
}

/* ---------------- HEADER BOTÃO EXTERNO */
.hd-btn-ext{
    position: fixed;
    margin: auto;
    width: fit-content;
    height: 60%;
    top: 0;
    right: 0;
    background-color: var(--cor-01);
    border-radius: .625rem;
    border: .063rem solid var(--cor-02);
    box-shadow: 0 .438rem 1.25rem rgba(0, 0, 0, 0.445);
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1.875rem;
    display: none;
}

.hd-btn-ext span{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
}

.hd-btn-ext img#logoImgIfood{
    margin-top: 1.875rem;
    width: 50%;
}

/* ---------------- CONTAINERS COM ITEMS */
.container02, .container03, .container04, .container05{
    padding: 2.813rem 1.25rem;
    border-bottom: .125rem dashed var(--cor-02);
}


/* ---------------- TÍTULO DAS SESSÕES */
.titulo{
    margin: auto;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 2.5rem;
}

.titulo h1{
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 3.75rem;
    font-weight: 500;
}

.titulo span{
    width: 35%;
    height: .125rem;
    background-color: var(--cor-02);
}

/* ---------------- SECTION DOS ITENS */
.sct-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2.5rem;
}

/* ---------------- DIV ITENS */
.div-item{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.267);
    width: 11.25rem;
    border-radius: .625rem;
    border: .063rem solid var(--cor-02);
    box-shadow: 0 0 .625rem .188rem rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: relative;
    padding: .625rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ---------------- DIV ITENS - TÍTULO */
.div-item h2{
    word-wrap: break-word;
    height: 4.375rem;
    align-items: center;
}

/* ---------------- DIV ITENS - DESCRIÇÃO */
.div-item p{
    font-size: .875rem;
    margin: .625rem 0;
    font-weight: 500;
}

/* ---------------- DIV ITENS - PREÇO */
.div-item h3{
    padding: .5rem 0;
    border-bottom: .063rem solid var(--cor-02);
    position: absolute;
    bottom: 4.063rem;
}

.div-item h3::before{
    content: 'R$ ';
}

/* ---------------- DIV ITENS - BOTÕES */
.div-item-buttons{
    position: absolute;
    bottom: 1.25rem;
}

.div-item-buttons .btn-more, .div-item-buttons .btn-less{
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.div-item-buttons input{
    background-color: transparent;
    border: none;
    border-bottom: .063rem solid var(--cor-02);
    width: 2.5rem;
    text-align: center;
    margin: 0 .5rem;
}

.div-item-buttons input::-webkit-outer-spin-button, .div-item-buttons input::-webkit-inner-spin-button {
    display: none;
}

/* ---------------- DIV ITENS - COVER */
.div-item .div-item-cover{
    width: 100%;
    border-radius: .625rem;
    border: .063rem solid var(--cor-02);
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    transition: bottom, .5s;
}


/*====================================================
MENU PRINCIPAL
====================================================*/

.menu-principal > div{
    height: fit-content;
}

/* SECTION HEADER */
.menu{
    height: fit-content;
}


/*====================================================
COINTAINER 00 - APRESENTAÇÃO
====================================================*/

.container00{
    height: 100%;
    align-items: center;
    gap: 1.25rem;
    background: url(img/container00/img.localLanchonete.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -.188rem;
}

.container00 .ctn00-txt{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: .625rem 0 3.125rem 0;
}

.container00 h1{
    margin: auto;
    width: 95%;
    font-size: 3.125rem;
    font-style: italic;
    border-bottom: .063rem solid white;
    padding-bottom: .313rem;
}

.container00 p:nth-child(2){
    width: 70%;
    margin: auto;
    margin-top: 1.875rem;
    font-size: 1.063rem;
}

.container00 p:nth-child(3){
    width: 90%;
    margin: auto;
    margin-top: 2.5rem;
    font-size: 1.25rem;
}

.container00 p:nth-child(3) strong{
    border-bottom: .063rem solid var(--cor-02);
    color: var(--cor-02);
}

.container00 p:nth-child(3) strong:hover{
    border-bottom: .063rem solid var(--cor-03);
    color: var(--cor-03);
}

.container00 a:nth-child(4){
    display: block;
    margin: auto;
    width: fit-content;
    background-color: var(--cor-02);
    padding: .375rem 2.063rem;
    margin-top: 3.75rem;
    font-size: 1.188rem;
    cursor: pointer;
}

.container00 a:nth-child(4):hover{
    background-color: var(--cor-03);
}


/*====================================================
COINTAINER 01 - CONTATO
====================================================*/

.container01{
    padding: 3.125rem;
    gap: 1.563rem;
    flex-direction: column;
    align-items: center;
}

.container01 iframe{
    width: 25rem;
    height: 18.75rem;
    border: none;
}

.container01 section h2{
    margin-bottom: 1.25rem;
    text-align: center;
}

.container01 section div{
    justify-content: space-between;
}

.container01 section div h3{
    gap: .438rem;
    font-weight: 100;
    font-size: 1.063rem;
}


/*====================================================
CARRINHO
====================================================*/

.carrinho{
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    z-index: 1;
    background-color: var(--cor-02);
    padding: .625rem;
    border-radius: 100%;
    cursor: pointer;
}

.carrinho:hover{
    background-color: var(--cor-01);
}

.carrinho span{
    color: var(--cor-01);
    font-size: 1.875rem;
}

.carrinho:hover span{
    color: var(--cor-02);
}


/*====================================================
BACKGROUND MODAL SHOPLIST
====================================================*/

#bg-modal-shoplist{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.765);
}

/*====================================================
MODAL SHOPLIST
====================================================*/

#modal-shoplist{
    height: 70vh;
    width: 60vw;
    position: fixed;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-01);
}

#modal-shoplist h1{
    font-size: 2.188rem;
    color: var(--cor-02);
    border-bottom: .063rem solid var(--cor-02);
}

#modal-shoplist #shoplist-items{
    width: 90%;
    height: 65%;
    border: .063rem solid var(--cor-01);
    overflow-y: scroll;
    padding: .625rem;
}

#modal-shoplist #shoplist-items::-webkit-scrollbar{
    display: none;
}

#modal-shoplist #shoplist-items .sl-div-item{
    display: grid;
    grid-template-columns: 10fr 1fr 2fr;
    border-bottom: .063rem solid white;
}

.sp-pdd, .sp-qnt, .sp-valor{
    padding: .5rem 0;
    text-align: center;
}

.sp-pdd{
    text-align: left;
}

/* .sp-excluir{
    cursor: pointer;
    color: var(--cor-02);
    font-weight: bolder;
} */

#modal-shoplist .sct-confirme{
    justify-content: space-between;
    padding: .625rem;
    align-items: center;
}

#modal-shoplist .sct-confirme span input{
    border: none;
    border-bottom: 1px solid var(--cor-02);
    background-color: transparent;
    width: 5.6rem;
    font-size: 1rem;
}

.div-item-buttons input::-webkit-outer-spin-button, #modal-shoplist .sct-confirme span input::-webkit-inner-spin-button {
    display: none;
}

#modal-shoplist .sct-confirme button{
    background-color: var(--cor-02);
    padding: .438rem 1.5rem;
    font-size: 1.125rem;
    color: var(--cor-01);
    cursor: pointer;
}

#modal-shoplist .sct-confirme button:hover{
    background-color: var(--cor-01);
    color: var(--cor-02);
}

/*====================================================
HEADER CARDÁPIO
====================================================*/

.header-cardapio{
    position: relative;
}


/*====================================================
TÍTULO CARDÁPIO
====================================================*/

.title-cardapio{
    margin: auto;
    width: fit-content;
    font-size: 2.813rem;
    padding: 1.25rem 0;
}

.title-cardapio h1{
    border-top: .063rem solid var(--cor-02);
    border-bottom: .063rem solid var(--cor-02);
    padding: .188rem 1.875rem;
}


/*====================================================
COINTAINER 02 - HAMBURGUER
====================================================*/

.container02 .sct-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container02 .div-item{
    height: 19.375rem;
}

.container02 .div-item .div-item-cover{
    height: 73%;
}

.container02 .div-item:hover .div-item-cover{
    bottom: -73%;
}

.cover00{
    background: url(img/hamburgueres/img.burger.novidade.jpg) no-repeat center;
}

.cover01{
    background: url(img/hamburgueres/img.burger.cover01.jpg) no-repeat center;
}

.cover02{
    background: url(img/hamburgueres/img.burger.cover02.jpg) no-repeat center;
}

.cover03{
    background: url(img/hamburgueres/img.burger.cover03.jpg) no-repeat center;
}

.cover04{
    background: url(img/hamburgueres/img.burger.cover04.jpg) no-repeat center;
}

.cover05{
    background: url(img/hamburgueres/img.burger.cover05.jpg) no-repeat center;
}

.cover06{
    background: url(img/hamburgueres/img.burger.cover06.jpg) no-repeat center;
}


.container02 #novidadeBurger{
    grid-column: 1/3;
    width: 32.719rem;
    grid-row: 1/3;
    height: 41.25rem;
    padding: .625rem 2.5rem;
}

.container02 #novidadeBurger h1{
    font-size: 3.438rem;
    color: var(--cor-02);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .438rem;
    border-bottom: .063rem solid var(--cor-02);
}

.container02 #novidadeBurger h2{
    font-size: 2.1rem;
}

.container02 #novidadeBurger .novidImg{
    margin-top: 1.875rem;
    height: 45%;
    width: 70%;
    background: url(img/hamburgueres/img.burger.novidade.jpg) no-repeat center;
    background-size: cover;
}

.container02 #novidadeBurger .div-item-cover{
    height: 68%;
    display: none;
}


/*====================================================
COINTAINER 03 - LANCHES
====================================================*/

.container03 .div-item{
    height: 18.75rem;
}

.cover07{
    background: url(img/lanches/img.lanche.cover07.jpg) no-repeat center;
}

.cover08{
    background: url(img/lanches/img.lanche.cover08.jpg) no-repeat center;
}

.cover09{
    background: url(img/lanches/img.lanche.cover09.jpg) no-repeat center;
}

.cover10{
    background: url(img/lanches/img.lanche.cover10.jpg) no-repeat center;
}

.cover11{
    background: url(img/lanches/img.lanche.cover11.jpg) no-repeat center;
}

.cover12{
    background: url(img/lanches/img.lanche.cover12.jpg) no-repeat center;
}

.container03 .div-item .div-item-cover{
    height: 72%;
}

.container03 .div-item:hover .div-item-cover{
    bottom: -72%;
}


/*====================================================
COINTAINER 04 - PORCOES
====================================================*/

.container04 .div-item{
    height: 16.25rem;
}

.cover13{
    background: url(img/porcoes/img.porcoes.cover13.jpg) no-repeat center;
}

.cover14{
    background: url(img/porcoes/img.porcoes.cover14.jpg) no-repeat center;
}

.cover15{
    background: url(img/porcoes/img.porcoes.cover15.jpg) no-repeat center;
}

.cover16{
    background: url(img/porcoes/img.porcoes.cover16.jpg) no-repeat center;
}

.cover17{
    background: url(img/porcoes/img.porcoes.cover17.jpg) no-repeat center;
}

.cover18{
    background: url(img/porcoes/img.porcoes.cover18.jpg) no-repeat center;
}

.container04 .div-item .div-item-cover{
    height: 69%;
}

.container04 .div-item:hover .div-item-cover{
    bottom: -69%;
}


/*====================================================
COINTAINER 05 - BEBIDAS
====================================================*/

.container05{
    border: none;
}

.container05 .div-item{
    height: 25rem;
    height: fit-content;
    padding: 1.25rem 0;
    margin: 0 auto;
}

.container05 .div-item p{
    word-wrap: break-word;
    height: 4.375rem;
    align-items: center;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: bolder;
}

.container05 .div-item h2{
    font-size: .875rem;
    font-weight: 500;
    height: fit-content;
    margin: .625rem 0;
    margin-top: 1.875rem;
}

.container05 .div-item h3{
    position: relative;
    padding: 0;
    bottom: 0;
    margin: .188rem 0 .625rem 0;
}

.container05 .div-item-buttons{
    bottom: 0;
    position: relative;
}


/*====================================================
LANDINGPAGE DESENVOLVEDOR
====================================================*/

.main-dev{
    width: 100vw;
    padding: 5rem 0;
}

.main-dev > section{
    width: 50%;
}

.main-dev .mainDev-secImg img{
    width: 70%;
    margin: auto;
}

.main-dev .mainDev-secTxt{
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
}

.main-dev .mainDev-secTxt h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.main-dev .mainDev-secTxt h1{
    font-size: 3.8rem;
    font-size: 380%;
    color: var(--cor-02);
    margin-bottom: 2.5rem;
}

.main-dev .mainDev-secTxt > p{
    width: 80%;
    text-indent: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.main-dev .mainDev-secTxt nav{
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.main-dev .mainDev-secTxt nav a{
    text-align: center;
    opacity: 50%;
}

.main-dev .mainDev-secTxt nav a:hover{
    opacity: 100%;
}

.main-dev .mainDev-secTxt nav a img{
    min-width: 1.8rem;
    width: 60%;
    filter: invert(1);
}

.main-dev .mainDev-secTxt nav p{
    margin: auto;
}


/*====================================================
LANDINGPAGE CRÉDITOS
====================================================*/

.main-cred{
    width: 100vw;
    padding-top: 4rem;
    margin-bottom: 1.5rem;
}

.main-cred h1{
    text-align: center;
    margin: 2rem auto;
    font-size: 2.7rem;
    border-top: .063rem solid var(--cor-02);
    border-bottom: .063rem solid var(--cor-02);
    width: fit-content;
}

.main-cred section{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .8rem;
    padding: 0 .8rem;
}

.main-cred section ul{
    width: 18.5rem;
}

.main-cred section ul h2{
    height: 4.1rem;
    align-items: center;
    border-bottom: .063rem solid var(--cor-02);
    margin-bottom: 1rem;
}

.main-cred section ul li{
    margin-bottom: .6rem;
    text-indent: .5rem;
}

.main-cred section ul li a:hover{
    transition: color .3s;
    color: var(--cor-02);
}


/*====================================================
FOOTER
====================================================*/

footer{
    height: fit-content;
    flex-direction: column;
    gap: .625rem;
    align-items: center;
    padding: .813rem;
    border-top: .063rem solid white;
    background: #010506;
}

footer #ftr-vf-id #logoImgOfc{
    width: 2.5rem;
    margin-right: .375rem;
}

footer #ftr-vf-id #logoTxtOfc{
    width: 8.125rem;
}

footer #creditos{
    margin-top: 1.25rem;
    padding: .375rem 2.063rem;
    background-color: white;
    cursor: pointer;
}

footer #creditos:hover{
    border: .063rem solid white;
    background-color: transparent;
}

footer #creditos h4{
    color: var(--cor-01);
}

footer #creditos:hover h4{
    color: white;
}